.app__menuitem {
    width: 100%;margin: 1rem 0;
    display: flex;flex-direction: column;

}

.app__menuitem-head {
    display: flex;justify-content: space-between;align-items: center;

}

.app__menuitem-sub {
    width: 100%;margin-top: 0.2rem;
}

.app__menuitem-name {
    flex: 1;
}

.app__menuitem-dash {
    position: static;
    width: 199px;
    height: 1px;
    left: 224px;
    top: 14.5px;
    background: #FAFAFA;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 32px;
}